input{
    border-radius: 5px;
}
.container {
    border: 1px solid #cccccc;
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,.2);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: auto;
}
.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    margin: 10px;
}
.button {
    height: 60px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
}
.button:hover {
    background-color: #eaeaea;
}
.operator {
    color: #333;
    background-color: #eeeeee;
    border-width: 1px;
    font-size: 2rem;
}
.operator:hover {
    background-color: #aaa;
}
.clear {
    background-color: #f0595f;
    border-width: 1px;
    color: #fff;
    width: 80px;
    height: 40px;
    font-weight: 900;
}
.clear:hover {
    background-color: #f17377;
}
.delete{
    background-color: #eee;
    color: #333;
}
.delete:hover{
    background-color: #aaa;
}
.equal-sign {
    background-color: #25a8e0;
    border-color: #25a8e0;
    color: #fff;
}
.equal-sign:hover {
    background-color: #4e9ed4;
}
.screen{
    background-color:rgb(209, 239, 247);
    justify-content: left;
    text-align: right;
    color: black;
    border-width: 1px;
    border-color: #25a8e0;
    font-size: medium;
    width: 50%;
    height: 30%;
    cursor: default;
    padding: 10px; 
    margin: 10px;
    margin-bottom: 10px;
}